body{
    background-color: hotpink;
}

#content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 200px);
}

header{
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: center;
}

.product{
    width: auto;
    height: 100%;
}

#fig0{
    grid-column-start: 1;
    grid-column-end: 5;

}

#fig1{
    grid-column-start: 5;
    grid-column-end: 9;
}

#fig2{
    grid-column-start: 9;
    grid-column-end: 13;

}

#results{
    grid-column-start: 1;
    grid-column-end: 6;
    visibility: hidden;
    
}

#resultList{
    visibility: hidden;
}

#myChart{
    display: block;
    width: 900px! important;
    height: 500px! important;
    grid-column-start: 4;
    grid-column-end: 11;
    visibility: hidden;

}