body{
    background-color: hotpink;
}

#content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 200px);
}

header{
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: center;
}

.product{
    width: auto;
    height: 100%;
}

#figOne{
    grid-column-start: 1;
    grid-column-end: 5;

}

#figTwo{
    grid-column-start: 5;
    grid-column-end: 9;
}

#figThree{
    grid-column-start: 9;
    grid-column-end: 13;

}

#results{
    grid-column-start: 1;
    grid-column-end: 6;
    visibility: hidden;
    
}

#resultList{
    visibility: hidden;
}

#myChart{
    display: block;
    width: 900px! important;
    height: 500px! important;
    grid-column-start: 3;
    grid-column-end: 11;
}